.btn{ 
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    
}
.btn--primary--solid{
   background-color: var(--primary);
   color: var(--white);
   border: none;
   
}
.btn--secondary--solid{
   background-color: var(--secondary);
   color: var(--white);
   border: none;
   
}

.btn--small{
  width: 300px;

  
}
.btn--medium{
    width: 350px;
    
    
}
